/*==== REbET ============================== */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  max-height: 100%;
width: 100%;
height: 100%;
}

.logo img{
width: 115px;
}


body {
  background-image: linear-gradient( rgba(0, 217, 255, 0.205) , rgba(255, 0, 170, 0.205));
}
.logo-footer img {
  width: 100px;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}




  nav {
    margin-top: 2rem;
    transition: .4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    font-family: 'Open Sans', sans-serif;
  }


nav ul li a {
  font-size: 1.5rem;
  white-space: nowrap;
  color: #e2d8c5;
  position: relative;
}
.nav-list li {
  display: block;
  text-decoration: none;
}
.nav-list {
  padding-bottom: 1rem;
  z-index: 998;
  display: flex;
  position: fixed;
  top: -2.5rem;
  right: 0;
  width: 100vh;
  height: 19rem;
  border-radius: 43px;
  background: #000000e0;
  gap: 1rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

/*==== SEARCH BAR ============================== */
.sbx-google {
  margin-top: 1rem;
  display: inline-block;
  position: relative;
  width: 310px;
  height: 41px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-google__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-google__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  background: #ffffffb6;
  padding: 0;
  padding-right: 77px;
  padding-left: 11px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-google__input::-webkit-search-decoration, .sbx-google__input::-webkit-search-cancel-button, .sbx-google__input::-webkit-search-results-button, .sbx-google__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-google__input:hover {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.sbx-google__input:focus, .sbx-google__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #3E82F7;
  background: #FFFFFF;
}

.sbx-google__input::-webkit-input-placeholder {
  color: #AAAAAA;
}

.sbx-google__input::-moz-placeholder {
  color: #AAAAAA;
}

.sbx-google__input:-ms-input-placeholder {
  color: #AAAAAA;
}

.sbx-google__input::placeholder {
  color: #AAAAAA;
}

.sbx-google__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: #00b8ff;
  padding: 0;
  width: 49px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-google__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-google__submit:hover, .sbx-google__submit:active {
  cursor: pointer;
}

.sbx-google__submit:focus {
  outline: 0;
}

.sbx-google__submit svg {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  fill: #FFFFFF;
}

.sbx-google__reset {
  display: none;
  position: absolute;
  top: 10px;
  right: 56px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-google__reset:focus {
  outline: 0;
}

.sbx-google__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.sbx-google__input:valid ~ .sbx-google__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

/*==== LOGO ============================== */

.logo {
  width: 100%;
  height: auto;
  z-index: 998;
  display: flex;
  justify-content: center;
  position: relative;
  top: 2rem;
    }
/*==== HEADER ============================== */

.mobile-menu {
  z-index: 999;
  position: fixed;
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 2rem;
  padding: 0.5rem 0.25rem;
  background: #000000a4;
  color: #e2d8c5;
  font-size: 1.2rem;
  cursor: pointer;
}
.mobile-menu div {
  width: 25px;
  height: 2px;
  background: #00b8ff;
  margin: 6px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}



.nav-list li {
  letter-spacing: 2px;
}

.nav-list.active {
  transform: translateY(0vh);
}
/*==== FIRST-BANNER ============================== */
.first-content-desktop img {
  margin-top: -1rem;
  filter: brightness(85%);
width: 100%;
height: 100%;
}

.second-content-smartphone {
  width: 100%;
  height: 800px;
  margin-top: -1rem;
  background-color: #000000;
  }
  .alfabeto-nome {
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  




.first-content-smartphone {
  display: flex;
  width: 100%;
  justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .first-content-smartphone img {
    width: 260px;
    height: auto;
    }

/*==== GIRLS AND BOYS NAMES CONTENT ============================== */


 .girls-names {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  background-color: #ffffff60;
  overflow: hidden;
  flex-direction: column;
 }

 .boys-names {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  background-color: #ffffff60;
  overflow: hidden;
  flex-direction: column;
 }



.mcd-tile-container {
  border: 1px solid #e1e1e1;
  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 6px;
  background-color: #ffffff60;
}
.mcd-tile-names {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.mcd-tile-names:hover {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}
.button-mcd {

  border-radius: 5px;
  height: 2rem;
  padding: 0 1rem;
  border:2px solid #fdb913;
  align-items: center;
  display: inline-flex;
  background-color: #fdb913;
  color: black;
}
.button-mcd:hover {
  transition: 0.3s;
  color:#e2d8c5;
  border:2px solid #e2d8c5;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(-0);
  }
}

figure.mcd-media-image {
  height: 40%;
}



.mcd-tile-container_content {
  padding: 10px;
  text-align: center;
}

#body-tiles {
  grid-template-columns: repeat(1, 1fr);
  gap: 2.5rem;
  padding: 1rem;
  text-align: center;
  display: grid;
  margin-top: 2rem;
}

.mcd-tile-container_content-info {
font: 400 1.075rem "Open Sans";
}

/*==== FOOTER ============================== */
.logo-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.footer {
    background-color: #000000;
    border-top: 1px solid #d2d2d7;
    text-align: center;
}

h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
    font: 400 1rem "Open Sans";
}

.footer-nav {
    margin-bottom: 1rem;
}

.footer-nav li a {
    padding: 12px;
    color: #ffffff;
    font: 400 1rem "Open Sans";
}



.footer-nav li {
    padding: 0.2rem;
}

.share-icon {
    margin-left: 1rem;
}

.share-icon img {
    height: 37px;
    width: 37px;
    margin-right: 1rem;
}


.share {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  flex-direction: column;
}
.footer-border {
  border-top: 1px solid #CCC;
  margin-left: 5rem;
  margin-right: 5rem;
}
.alfabeto-nome a {
  background-color: #00b8ff;
  border-radius: 6px;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  width: 1rem;
  font: 800 1.1rem "Open Sans";
  margin-right: 0.2rem;
  text-decoration: none;
  text-shadow: 0px 1px 1px #000000;
  padding: 5px;
  color: #000000;
  justify-content: center;
}


/*============================================================ Tablet and smart ===================================================================== */

main {

  position: relative;
}
h4 {
  cursor: pointer;
  padding: 0.5rem;
  font: 800 1rem "Open Sans";
}
p {
  font: 400 1rem "Open Sans";
}

.first-content-desktop {
  display: none;
    }
/*==== LOGO ============================== */

/*==== HEADER ============================== */



nav img {
  display: none;
  justify-content: center;
}


/*==== FIRST-BANNER ============================== */

/*==== BODY-TILE CONTENT ============================== */
.button-mcd {
  font: 400 4vh "Open Sans";
  border-radius: 5px;
  height: 2rem;
  padding: 0 1rem;
  border:2px solid #fdb913;
  align-items: center;
  display: inline-flex;
  background-color: #fdb913;
  color: black;
}
/*==== FOOTER ============================== */
small {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}
.logo-footer img {
  width: auto;
height: 45px;
}
h2 {
  color: #ffffff;
  margin-bottom: 0.5rem;
  font: 400 0.8rem "Open Sans";
}



/*============================================================TABLET===================================================================== */



/*============================================================ PC ===================================================================== */
@media screen and (min-width: 820px) {

  h4 {
    padding: 0.5rem;
    font: 800 1.5rem "Open Sans"; }

  #body-tiles {
    gap: 2.5rem;
    padding: 1rem;
    text-align: center;
    display: grid;
}
  
  main {
    position: relative;
  }
  /*==== LOGO ============================== */
  
  /*==== HEADER ============================== */


  
  nav img {
    display: none;
    justify-content: center;
  }
  


  /*==== FIRST-BANNER ============================== */
  
  /*==== BODY-TILE CONTENT ============================== */
  /*==== FOOTER ============================== */
  small {
    margin-top: 0.5rem;
    font-size: 0.5rem;
  }

  
  h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
    font: 400 0.8rem "Open Sans";
  }

  .button-mcd {
    font: 400 1vh "Open Sans";
    border-radius: 5px;
    height: 2.2rem;
    padding: 0 1rem;
    border:2px solid #fdb913;
    align-items: center;
    display: inline-flex;
    background-color: #fdb913;
    color: black;
}
  
/*==== FIRST-BANNER ============================== */

.first-content-desktop {
  margin-top: -1rem;
  height: 100%;
  width: auto;
  display: flex;
  width: 800px;
  height: 800px;
  margin-top: -1rem;
  background-color: #ffffff;
  }

/*==== BODY-TILE CONTENT ============================== */
#body-tiles {
  text-align: center;
}


.mcd-tile-container_content {
    padding: 10px;
    text-align: center;
}




.footer-border {
  border-top: 1px solid #CCC;
  margin-left: 20rem;
  margin-right: 20rem;
}
}